@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600&display=swap');
.main-h1{
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;

}
.cancel-steps{
    margin: 15px;
}
.privicy-div1{
    
    margin: 7px;
    white-space: pre-wrap;
}

#main-p1{
    color: black;
    font-family: 'League Spartan', sans-serif;
    white-space: pre-wrap;
    font-size: large;
    line-height: 18px;

    padding: 0 334px;
    text-align: center;
}
@media (max-width:899px){


    #main-p1{
        font-size: larger;
       
        padding: 12px;
    }

    .main-h1{
        margin-bottom: 20px;
        margin-top: 20px;
    
    
    }
}
@media (max-width:799px){


    #main-p1{
       
       
        padding: 12px;
    }

    .main-h1{
        margin-top: 105px;
    
    
    }
}